body{
    padding-top: 3%;
    color: aliceblue !important;
    background-color: black !important;
    font-size: 1.4em !important; 
    width: 100%;
}

h2{
    text-align: center;
    padding-bottom: 2%;
}

button{
    background-color: #29303B !important;
    outline: none;
    border: none;
   
}

button:active{
    border: none;
}

#msg-but{
    margin-left: 10px !important;
}

input{
    background-color: #29303B !important;
    height: 2.5em;
    border-radius: 5px;
    border: none;
    color: white !important;
}

#message-template {
    display: none;
}

#location-template{
    display : none
}

@media only screen and (max-width: 600px){
    body{
        width: 100%;
        font-size: 3em !important;
    }

    h2{
        font-size: 3em !important;
        margin-bottom: 5%;
    }
}